.solid-btn {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: white;
  background-color: #E4BE4D;
}
.transparent-btn {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: #E4BE4D;
}
.hero-cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home-img.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
}
.hero-cta .jumbotron {
  background: transparent;
  width: 50%;
  margin: auto;
}
.hero-cta .jumbotron h1 {
  font-weight: bold;
  color: white;
}
.hero-cta .jumbotron p.lead {
  color: #E4BE4D;
  font-size: 2em;
}
.hero-cta .cta-links {
  margin-top: 150px;
  text-align: center;
}
.hero-cta .cta-links a {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: white;
  background-color: #E4BE4D;
  text-decoration: none;
}
.hero-cta .cta-links .sign-up {
  color: #333334;
}
/* Section styles */
section {
  padding: 100px 0;
}
.dark-section {
  background-color: #333334;
  color: #E4BE4D;
}
#what-is-it .section-content {
  margin-top: 100px;
}
#see-it-in-action h2 {
  margin-bottom: 50px;
}
/* Footer */
footer {
  background-color: #333334;
  color: white;
}
footer .container {
  padding: 100px 0;
}
footer span {
  display: block;
  text-align: center;
  padding: 25px 0;
}
/* Navigation */
.top-nav-wrap {
  background-color: rgba(51, 51, 52, 0.8);
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.top-nav-wrap ul.nav .log-in {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: #E4BE4D;
}
.top-nav-wrap ul.nav .sign-up {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: white;
  background-color: #E4BE4D;
}
