.solid-btn {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: white;
  background-color: #E4BE4D;
}
.transparent-btn {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: #E4BE4D;
}
/* Big T Mixin */
.big-t {
  content: '';
  background-image: url('../img/Big-T.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1050px;
  height: 1200px;
  position: absolute;
}
.hero-cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home-img.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
}
.hero-cta .jumbotron {
  background: transparent;
  width: 50%;
  margin: auto;
}
.hero-cta .jumbotron h1 {
  font-weight: bold;
  color: white;
}
.hero-cta .jumbotron p.lead {
  color: #E4BE4D;
  font-size: 2em;
}
.hero-cta .cta-links {
  margin-top: 150px;
  text-align: center;
}
.hero-cta .cta-links a {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: white;
  background-color: #E4BE4D;
  text-decoration: none;
}
.hero-cta .cta-links .sign-up {
  color: #333334;
}
/* Section styles */
section {
  position: relative;
  padding: 100px 0;
}
section h2 {
  font-size: 60px;
}
.dark-section {
  background-color: #333334;
  color: white;
}
.section-content p {
  font-size: 24px;
}
#what-is-it {
  padding: 250px 0;
  overflow: hidden;
}
#what-is-it .section-content {
  margin-top: 100px;
}
#what-is-it::before {
  content: '';
  background-image: url('../img/Big-T.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1050px;
  height: 1200px;
  position: absolute;
  top: 0;
  left: -200px;
}
#see-it-in-action h2 {
  margin-bottom: 50px;
}
#pricing {
  overflow: hidden;
  /* Big t */
}
#pricing .row {
  margin-top: 75px;
}
#pricing h3 {
  font-size: 42px;
}
#pricing::before {
  content: '';
  background-image: url('../img/Big-T.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1050px;
  height: 1200px;
  position: absolute;
  top: -50px;
  right: -100px;
}
/* Footer */
footer {
  background-color: #333334;
  color: white;
}
footer .container {
  padding: 100px 0;
}
footer span {
  display: block;
  text-align: center;
  padding: 25px 0;
}
.hero-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/teamwork.jpg');
  background-size: cover;
  background-position: 50% 40%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-about .jumbotron {
  color: white;
  background-color: transparent;
}
#team-members .row {
  padding: 30px 0;
}
#team-members h3 {
  text-align: center;
}
/* Navigation */
.top-nav-wrap {
  background-color: rgba(51, 51, 52, 0.8);
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.top-nav-wrap ul.nav .log-in {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: #E4BE4D;
}
.top-nav-wrap ul.nav .sign-up {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 50px;
  color: white;
  background-color: #E4BE4D;
}
