/* Navigation */
.top-nav-wrap {
  background-color: #333334;
  height: 100px;
  display: flex;
  align-items: center;
}
.top-nav-wrap ul.nav .nav-item a {
  padding: 5px 15px;
  margin: 0 15px;
  border: 2px solid #E4BE4D;
  border-radius: 100px;
}
.top-nav-wrap ul.nav .log-in {
  color: #E4BE4D;
}
.top-nav-wrap ul.nav .sign-up {
  color: white;
  background-color: #E4BE4D;
}
.hero-cta {
  background-image: url('../img/home-img.jpg');
  background-size: cover;
  height: 100%;
}
.hero-cta .jumbotron {
  background: transparent;
}
.hero-cta .cta-links {
  margin-top: 100px;
}
/* Section styles */
.dark-section {
  background-color: #333334;
  color: #E4BE4D;
}
/* Footer */
footer {
  background-color: #333334;
  color: white;
}
footer .container {
  padding: 100px 0;
}
footer span {
  display: block;
  text-align: center;
  padding: 25px 0;
}
