.hero-about {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/teamwork.jpg');
  background-size: cover;
  background-position: 50% 40%;
  height: 75vh; // Set container height to 75% of viewport height
  display: flex;
  align-items: center;
  justify-content: center;
  .jumbotron {
    color: white;
    background-color: transparent;
  }
}

#team-members {
  .row {
    padding: 30px 0;
  }
  h3 {
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.foot-container {
  background-color: @dark-bg;
  color: #E4BE4D;
}

.meet-team{
  background-color: @dark-bg;
  color: #E4BE4D;
}

.member {
  background-color: @dark-bg;
  color: white;
  width: 250px;
  text-align: center;

}

.title {
  background-color: @dark-bg;
  color: white;
}

.face {
  width: 165px;
  height: 165px;
  border-radius: 50%;
}

/* Footer */
.logo {
  width: 190px;
  height: 270px;
}

footer {
  background-color: @dark-bg;
  color: white;
  .foot-container {
      padding: 100px 0;
  }
  span {
      display: block;
      text-align: center;
      padding: 25px 0;
  }
}

.foot-nav {
  padding-top: 12%;
  float: right;
  text-align: center;

}

.list {
  font-size: 1.2rem;
}

.copyright {
  font-size: 12px;
}