// Primary Dark background
@dark-bg: #333334;
// Primary yellow color
@primary: #E4BE4D;

/* Navigation */
.top-nav-wrap {
    background-color: @dark-bg;
    height: 100px;
    display: flex;
    align-items: center;
    ul.nav {
        .nav-item a {
            padding: 5px 15px;
            margin: 0 15px;
            border: 2px solid @primary;
            border-radius: 100px;
        }
        .log-in {
            color: @primary;
        }
        .sign-up {
            color: white;
            background-color: @primary;
        }
    }
}

.hero-cta {
    background-image: url('../img/home-img.jpg');
    background-size: cover;
    height: 100%;
    .jumbotron {
        background: transparent;
    }
    .cta-links {
        margin-top: 100px;
    }
}

/* Section styles */
.dark-section {
    background-color: @dark-bg;
    color: @primary;
}

/* Footer */
footer {
    background-color: @dark-bg;
    color: white;
    .container {
        padding: 100px 0;
    }
    span {
        display: block;
        text-align: center;
        padding: 25px 0;
    }
}