// Primary Dark background
@dark-bg: #333334;
// Primary yellow color
@primary: #E4BE4D;

// Button mixins
.solid-btn {
    padding: 5px 15px;
    margin: 0 15px;
    border: 2px solid @primary;
    border-radius: 50px;
    color: white;
    background-color: @primary;
}
.transparent-btn {
    padding: 5px 15px;
    margin: 0 15px;
    border: 2px solid @primary;
    border-radius: 50px;
    color: @primary;
}
/* Big T Mixin */
.big-t {
    content: '';
    background-image: url('../img/Big-T.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1050px;
    height: 1200px;
    position: absolute;
}

.hero-cta {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/home-img.jpg');
    background-size: cover;
    height: 100vh; // Set container height to 100% of viewport height
    display: flex;
    .jumbotron {
        background: transparent;
        width: 50%;
        margin: auto;
        h1 {
            font-weight: bold;
            color: white;
        }
        p.lead {
            color: @primary;
            font-size: 2em;
        }
    }
    .cta-links {
        margin-top: 150px;
        text-align: center;
        a {
            .solid-btn();
            text-decoration: none;
        }
        .sign-up {
            color: @dark-bg;
        }
    }
}

/* Section styles */
section {
    position: relative;
    padding: 100px 0;
    h2 {
        font-size: 60px;
    }
    
}
.dark-section {
    background-color: @dark-bg;
    color: white;
}

// Section content font
.section-content p {
    font-size: 24px;
}

// What is it styles
#what-is-it {
    padding: 250px 0;
    overflow: hidden;
    .section-content {
        margin-top: 100px;
    }
    &::before {
        .big-t();
        top: 0;
        left: -200px;
    }
}

// See it in action styles
#see-it-in-action {
    h2 {
        margin-bottom: 50px;
    }
}

// What they're saying

// Pricing styles
#pricing {
    overflow: hidden;
    .row {
        margin-top: 75px;
    }
    h3 {
        font-size: 42px;
    }
    /* Big t */
    &::before {
        .big-t();
        top: -50px;
        right: -100px;
    }
}


/* Footer */
footer {
    background-color: @dark-bg;
    color: white;
    .container {
        padding: 100px 0;
    }
    span {
        display: block;
        text-align: center;
        padding: 25px 0;
    }
}