// Primary Dark background
@dark-bg: #333334;

/* Navigation */
.top-nav-wrap {
    background-color: @dark-bg;
    height: 100px;
    display: flex;
    align-items: center;
}

.hero-cta {
    background-image: url('../img/home-img.jpg');
    background-size: cover;
    height: 100%;
    .jumbotron {
        background: transparent;
    }
    .cta-links {
        margin-top: 100px;
    }
}

/* Footer */
footer {
    background-color: @dark-bg;
    color: white;
    .container {
        padding: 100px 0;
    }
    span {
        display: block;
        text-align: center;
        padding: 25px 0;
    }
}