/* Navigation */
.top-nav-wrap {
    background-color: rgba(@dark-bg, 0.8);
    position: absolute;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    nav {
        justify-content: space-between;
    }
    ul.nav {
        justify-content: center;
        .log-in {
            .transparent-btn();
        }
        .sign-up {
            .solid-btn();
        }
        .nav-link {
            font-size: 21px;
            padding: 7px 20px;
            margin: 0 15px;
            .animate-btn();
            @media @small {
                font-size: 16px;
                padding: 5px 13px;
                margin: 5px 15px;
            }
        }
    }
}